*.db
.DS_Store
venv
env
application/__pycache__
application/utils/__pycache__
__pycache__
blog_old.md
node_modules
.idea/*
*.pyc
*.py~
tmp
clinical-annotator-lookups/*
static/dist
tutorial/*.txt
tutorial/*.json
tutorial/attempts/*
!tutorial/attempts/.gitkeep
data/*.txt
data/*.csv
!data/example.txt
!data/example.csv
data/*.json
!data/.gitkeep
data/log/*
!data/log/.gitkeep
tutorial/users/*
!tutorial/users/.gitkeep
