---
---

@import "{{ site.theme }}";

#header_wrap, #footer_wrap {
  background: #607d8b;
}

#forkme_banner {
  background: #323f45;
  right: 2px;
  box-shadow: none;
}

#project_title, #project_tagline {
  text-shadow: #111 0 0 1px;
}

h2, h3, h4 {
  color: #4c626e;
}

figure {
  border: 1px #cccccc solid;
  padding: 1px;
  margin: 1px;
}

figcaption {
  color: #607d8b;
  font-style: italic;
  padding: 1px;
  text-align: center;
}
