---
---

@import "{{ site.theme }}";

#header_wrap, #footer_wrap {
  background: #607d8b;
}

#forkme_banner {
  background: #323f45;
  right: 2px;
}

#project_tile, #project_shadow {
  text-shadow: 0 0 0 none;
}

h2, h3, h4 {
  color: #4c626e;
}
