:global(body) {
  position: relative;
}

.flex {
  flex-grow: 1;
}

.text-body {
  line-height: 1.8;
  font-size: 20px;
}

.text-body h1 {
  text-align: center;
}

.text-body h3 {
  width: 700px;
  margin: 25px auto 0;
}

.text-body p {
  width: 700px;
  margin: 20px auto;
  text-align: justify;
}

.home .code {
  background-color: #ddd;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 14px;
  display: inline-block;
}

.home img {
  display: block;
  text-align: center;
  margin: 10px auto;
  height: 150px;
}

.home img.large {
  height: 350px;
}

.menu-button {
  margin-left: -12;
  margin-right: 20;
}

.file-text {
  margin: 100px 0 0;
  padding: 50px;
  background-color: #ddd;
}

.annotation-view {
  height: 100%;
}

.experiment-modal {
  position: absolute;
  margin-top: 20px;
  right: 20px;
  bottom: 170px;
}

.pause-modal {
  position: absolute;
  margin-top: 20px;
  right: 20px;
  bottom: 120px;
}

.text-controller {
  position: absolute;
  margin: 20px 0 0;
  padding: 50px 25px 25px;
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  height: 100%;
  width: 100%;
  min-height: 200px;
  overflow-y: scroll;
}

.label-controller {
  margin: 20px 0 0;
  height: 100%;
}

.bordered-section {
  border: 1px solid #dddddd;
  padding: 25px;
}

.divided-section {
  // border-bottom: 1px solid black;
  overflow-y: scroll;
}

.token {
  margin-right: 4px;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.search-icon {
  // width: 100px;
  min-width: 70px;
  height: 100%;
  // position: absolute;
  pointer-events: none;
  // display: flex;
  align-items: center;
  align-content: center;
}

.search-bar input {
  // display: flex;
  width: 100%;
}

.label-filter {
  width: 100%;
  float: left;
}

.label-filter-item {
  float: left;
  width: 10%;
  padding: 5px 0;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.label-item {
  margin: 10px 0 0;
  float: left;
  width: 100%;
}

.label-item {
  margin-top: 25px;
}

.label-item:last-child {
  margin-bottom: 25px;
}

.selection-section {
  width: 100%;
  margin-top: 20px;
  padding: 10px 25px;
  border: 1px solid #dddddd;
  height: 100px;
}

.selection-clear {
  margin-top: calc(40px - 12px);
  float: left;
}

.selection-delete {
  margin-top: calc(40px - 12px);
  float: right;
}

.selection-main {
  width: calc(100% - 48px);
  padding: 0 20px;
  display: flex;
  float: left;
}

.selection-text {
  text-align: center;
  max-width: 500px;
  text-overflow: 'ellipsis';
  overflow: 'hidden';
  white-space: 'nowrap';
}

.selection-arrow {
  margin-top: calc(40px - 12px);
  width: calc(24px + 20px);
  padding: 0 10px;
}

.selection-labels {
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0;
  width: 100%;
  height: 80px;
  flex-grow: 1;
}

.selection-section .label-item {
  float: none;
  display: inline-block;
  width: 330px;
  margin: calc(40px - 22px) 10px;
}

.label-item-suggestion .label-title {
  width: calc(100% - 30px);
}

.cui-menu {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.cui-menu-option {
  width: 200px;
  padding: 5px;
  margin-left: 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  border-radius: 10px;
  color: rgba(96, 125, 139, 1);
}

.cui-menu-option.selected {
  border: 1px solid;
  background-color: rgba(96, 125, 139, .1);
}

.label-title {
  padding: 10px;
  float: left;
  width: 100%;
}

.label-title-text {
  width: calc(100% - 45px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.label-link {
  float: right;
}

.label-delete-button {
  float: right;
}

.label-confidence {
  font-size: 20px;
  float: right;
  padding: 12px 5px;
}

input[type=submit] {
  text-align: center;
  margin: 10px 0 10px;
}

.file-item {
  border: 1px solid black;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
}

.label-display {
  margin: 20px 0 0;
  padding-top: 10px;
  height: 500px;
  overflow-y: scroll;
}

.annotation-item {
  border: 1px solid black;
  margin: 5px 0 0;
}

.annotation-title {
  padding: 5px;
}

.annotation-selected {
  background-color: lemonchiffon;
}

.annotation-subtitle {
  padding: 5px;
  color: dimgray;
}

.annotation-text {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.annotation-num {
  float: left;
}

.annotation-menu {
  float: right;
}

.selection {
  border: 1px solid black
}

.hover-state:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.switch-label {
  font-size: 1.2rem !important;
}

.switch-base {
  width: 30px !important;
  height: 30px !important;
}

.switch-icon-checked {
  transform: translateX(32px) !important;
}

.modal-content {
  position: absolute;
  width: 600px;
  height: 90vh;
  left: 0;
  right: 0;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 50px;
  text-align: center;
}

.pause-modal-content {
  width: 90vw;
  padding-top: 300px;
}

.info-modal-content {
  text-align: left;
  font-size: 1.5rem;
  overflow-y: scroll;
  height: calc(90vh - 100px);
}

.info-modal-content p {
  font-size: 1.5rem;
}

.info-modal-content .defn {
  padding: 10px 0;
}

.suggestion-menu-item {
  color: white;
  background-color: #607d8b;
  opacity: 0.9;
  padding: 5px;
  float: left;
}

.suggestion-menu-icon {
  font-size: 14px;
  float: left;
}

.suggestion-menu-text {
  float: left;
}

.suggestion-menu-selected {
  background-color: #37474f !important;
}

.next-button {
  text-align: center;
}

.tutorial-evaluation-item {
  padding: 10px 0;
  width: 100%;
  float: left;
  border-bottom: 1px solid #9e9e9e;
}

.tutorial-evaluation-icon {
  width: 80px;
  float: left;
  text-align: left;
}

.tutorial-evaluation-token {
  width: calc(30% - 40px);
  float: left;
}

.tutorial-evaluation-description {
  width: calc(70% - 40px);
  float: left;
}

.tutorial-evaluation-description div {
  padding: 0 5px;
}

.tutorial-evaluation-description-singular:not(:first-child) {
  padding-top: 5px;
  border-top: 1px solid #aeaeae;
}

.tutorial-evaluation-description-singular:not(:last-child) {
  padding-bottom: 5px;
}

.tutorial-label-item {
  display: inline-block;
  padding: 0 5px;
}

.tutorial-score {
  text-align: center;
  font-weight: bolder;
  padding: 5px;
  background-color: rgba(96, 125, 139, 0.25);
  border: 5px solid rgba(96, 125, 139, 1);
  color: rgba(96, 125, 139, 1);
}

.tutorial-score span:not(:last-child) {
  margin-right: 50px;
}

.text-field {
  text-align: center;
  margin-bottom: 25px;
}

.cui-modal-button {
  width: 100%;
  clear: both;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 10px;
  text-align: center;
  color: rgba(96, 125, 139, 1);
  background-color: rgba(96, 125, 139, .1);
}
